@import '@/scss/color.scss';
@import '@/scss/responsive.scss';

.wellcome {
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
  background-size: 175%;
  background-position: 46% 4%;
  -webkit-box-pack: center;

  &__content {
    text-align: center;
    box-sizing: border-box;
  }

  &__heading {
    font-size: 136px;
    line-height: 166px;
    padding-bottom: 40px;
    color: $green;
  }

  &__pragraph {
    font-size: 18px;
    line-height: 24px;
    color: $green;
    box-sizing: border-box;
    margin-bottom: 40px;
  }

  &__link {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: $blue;
    background-color: $green;
    padding: 20px 50px;
    border-radius: 500px;
    box-sizing: border-box;
    position: relative;

    &:hover {
      transform: scale(1.1);
    }

    &::after {
      position: absolute;
      top: -5px;
      left: -7px;
      content: '';
      border: 2px solid $white;
      height: 110%;
      width: 103%;
      border-radius: 500px;
      opacity: 0;
    }

    &:focus::after {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: $lg) {
  .wellcome {
    background-image: url(https://www-growth.scdn.co/static/home/bursts-tablet.svg);
    background-size: 153%;
    background-position: right 40% center;
    -webkit-box-pack: center;
    justify-content: center;

    &__heading {
      font-size: 90px;
      line-height: 106px;
    }
  }
}

@media only screen and (max-width: $sm) {
  .wellcome {
    &__heading {
      font-size: 50px;
      line-height: 56px;
    }

    &__pragraph {
      font-size: 18px;
    }

    &__link {
      font-size: 13px;
      padding: 10px 30px;
    }
  }
}
